* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #111;
}

section {
  width: 100%;
  margin: 0 auto;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

.head-nav-container {
  width: auto;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #000000;
  color: rgb(218, 218, 218);
}

.head-nav-logo {
  color: rgb(197, 13, 13);
  font-size: 25px;
}

.head-nav-bar {
  display: flex;
  align-items: center;
  height: 80%;
}

.head-nav-bar a {
  margin-right: 15px;
}

.head-nav-bar a i {
  font-size: 15px;
}

.nav-divider {
  height: 60%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 15px;
}

.nav-list,
.nav-auth {
  height: 100%;
}

.nav-list ul,
.nav-auth ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-list li,
.nav-auth li {
  margin: 0 15px;
}

.nav-list a,
.nav-auth a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav-auth a:last-child {
  font-weight: bold;
}

.nav-auth li {
  height: 80%;
}

.nav-auth li#log-in a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-auth li#sign-up {
  background-color: white;
  border-radius: 5%;
}

.nav-auth li#sign-up a {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content-top {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 40px;
  font-weight: 700;
}

.content-top h1 {
  height: 100%;
  font-size: 48px;
  color: black;
  margin: 0;
  line-height: 54px;
}

.music-nav {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.music-nav ul {
  display: flex;
  gap: 15px;
}

.music-nav ul li {
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 5px;
}

.music-nav ul li#overview {
  color: rgb(197, 13, 13);
}

.music-nav ul li#new-releases {
  color: rgb(94, 94, 94);
}

.music-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.music-tags-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  width: 100%;
  gap: 30px;
}

.section-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.section-title::after {
  content: "";
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
  margin-top: 1px;
  width: 50px;
  height: 2px;
  background-color: #d92323;
  display: block;
  position: relative;
}

.big-tag {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#electronic {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(./tags/tags-to-explore/music-tags-electronic.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.more-tags {
  width: auto;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.small-tag {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
}

#rock {
  background: url(./tags/tags-to-explore/rock-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hip-hop {
  background: url(./tags/tags-to-explore/hip-hop-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#indie {
  background: url(./tags/tags-to-explore/indie-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#jazz {
  background: url(./tags/tags-to-explore/jazz-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#reggae {
  background: url(./tags/tags-to-explore/reggae-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#british {
  background: url(./tags/tags-to-explore/british-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#punk {
  background: url(./tags/tags-to-explore/punk-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#eighties {
  background: url(./tags/tags-to-explore/80s-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#dance {
  background: url(./tags/tags-to-explore/music-tags-electronic.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#acoustic {
  background: url(./tags/tags-to-explore/acoustic-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#rnb {
  background: url(./tags/tags-to-explore/rnb-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hardcore {
  background: url(./tags/tags-to-explore/hardcore-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#country {
  background: url(./tags/tags-to-explore/country-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#blues {
  background: url(./tags/tags-to-explore/blues-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#alternative {
  background: url(./tags/tags-to-explore/alternative-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#classical {
  background: url(./tags/tags-to-explore/classical-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#rap {
  background: url(./tags/tags-to-explore/hip-hop-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#metal {
  background: url(./tags/tags-to-explore/metal-tag.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.content-top-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.more-tags-list {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(200px, 1fr));
  padding: 0;
  gap: 30px;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track-card-image {
  width: 100%;
  aspect-ratio: 1/1;
  background: url(./tags/tags-latest-release/latest-release.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.middle-card-text {
  font-size: 14px;
  color: black;
}

.card-bottom {
  font-size: 12px;
  opacity: 0.5;
  text-decoration: none;
  color: black;
}

.two-big-tags {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  aspect-ratio: 2/1;
  gap: 30px;
  margin-bottom: 30px;
}

#first-hot-big-tag {
  background: url(./tags/tags-to-explore/music-tags-electronic.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#second-hot-big-tag {
  background: url(./tags/tags-to-explore/music-tags-electronic.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.medium-circle-tag {
  width: 100%;
  aspect-ratio: 1/1;
  background: url(./tags/tags-latest-release/latest-release.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.card-bottom-tags-list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.small-tracks-container {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(6, 70px);
  width: 100%;
  gap: 20px;
  justify-content: center;
}

.small-track-card {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.small-track-image {
  width: 60px;
  aspect-ratio: 1/1;
  background: url(./tags/tags-latest-release/latest-release.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.small-track-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  gap: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

footer {
  background-color: #111;
  display: block;
  padding-top: 50px;
  width: 100%;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-heading {
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.footer-top {
  padding-bottom: 50px;
}

.content-top-header {
  font-size: 30px;
}